$main-color: #8adb34;

.ben-card {
    background-color: $main-color;
}

.my-btn1 {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background-color: #40d40e;
}